@import play.api.Configuration
@import uk.gov.hmrc.agentoverseasapplicationfrontend.views.html._
@import uk.gov.hmrc.agentoverseasapplicationfrontend.models._


@(tradingName: String, contactEmail: String)(implicit request: Request[_], messages: Messages, configuration: Configuration)

@main_template(title = Messages("applicationComplete.title")){

            <div class="govuk-box-highlight">
                <h1 class="flush--top bold-xlarge">@Messages("applicationComplete.title")</h1>
                <div class="flush--bottom font-large">
                    @Messages("applicationComplete.panel.body")
                        @tradingName
                </div>
            </div>
            <h2 class="heading-medium">@Messages("applicationComplete.whatHappensNext.heading")</h2>
            <p>
               @Html(Messages("applicationComplete.whatHappensNext.para1",Html(s"<strong class=${"bold"}>$contactEmail</strong>")))
            </p>
            <p>
                @Messages("applicationComplete.whatHappensNext.para2")
            </p>
            <p>
                @Messages("applicationComplete.whatHappensNext.para3")
            </p>
            <p>
                @Messages("applicationComplete.whatHappensNext.para4")
            </p>
            <h2 class="heading-medium">@Messages("applicationComplete.whatYouCanDoNext.heading")</h2>
            <p><a href="#">@Messages("applicationComplete.whatYouCanDoNext.link")</a>
                @Messages("applicationComplete.whatYouCanDoNext.text")
            </p>
            <h2 class="heading-medium">@Messages("applicationComplete.help.heading")</h2>
            <p>
                @Messages("applicationComplete.help.text")
            </p>
            <p>
            <a href="javascript:window.print()" class="print-link">@Messages("applicationComplete.print")</a>
            </p>
            <div class="form-group">
            <a href="#">@Messages("applicationComplete.feedback.link")</a>
            @Messages("applicationComplete.feedback.text")
            </div>


}