@import play.api.Configuration
@import play.mvc.Call
@import uk.gov.hmrc.agentoverseasapplicationfrontend.controllers.routes
@import uk.gov.hmrc.agentoverseasapplicationfrontend.models._
@import uk.gov.hmrc.agentoverseasapplicationfrontend.forms._
@import uk.gov.hmrc.agentoverseasapplicationfrontend.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers.{form, singleCheckbox}

@(agentCodesForm: Form[AgentCodes])(implicit messages: Messages, request: Request[_], configuration: Configuration)

@uk.gov.hmrc.agentoverseasapplicationfrontend.views.html.main_template(title = Messages("agentCodes.title")) {

    <a href="@routes.ApplicationController.showRegisteredWithHmrcForm" class="link-back">@Messages("button.back")</a>

    @form(
        action = routes.ApplicationController.submitAgentCodes,
        'class -> "form js-form"
    ) {
        <fieldset>
            <legend>
                <h1 class="heading-xlarge margin-bottom-20">
                    <span class="pre-heading">@Messages("agentCodes.caption")</span>
                    @Messages("agentCodes.title")
                </h1>
            </legend>

            <p>@Messages("agentCodes.p1")</p>

            <p class="faded-text margin-bottom-20">@Messages("agentCodes.form.hint")</p>

            <div class="panels-conditionals form-group margin-bottom-30">
                @checkbox_with_conditional_text(agentCodesForm("self-assessment"),
                    '_labelCheckbox -> Messages("agentCodes.form.self-assessment.label"),
                    '_labelInset -> Messages("agentCodes.form.self-assessment.inset"))

                @checkbox_with_conditional_text(agentCodesForm("corporation-tax"),
                    '_labelCheckbox -> Messages("agentCodes.form.corporation-tax.label"),
                    '_labelInset -> Messages("agentCodes.form.corporation-tax.inset"))

                @checkbox_with_conditional_text(agentCodesForm("vat"),
                    '_labelCheckbox -> Messages("agentCodes.form.vat.label"),
                    '_labelInset -> Messages("agentCodes.form.vat.inset"))

                @checkbox_with_conditional_text(agentCodesForm("paye"),
                    '_labelCheckbox -> Messages("agentCodes.form.paye.label"),
                    '_labelInset -> Messages("agentCodes.form.paye.inset"))
            </div>

            <button class="button margin-bottom-30" type="submit" id="continue">@Messages("button.continue")</button>
        </fieldset>
    }
}