@import play.api.Configuration
@import uk.gov.hmrc.agentoverseasapplicationfrontend.controllers.routes
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.agentoverseasapplicationfrontend.models.ApplicationEntityDetails
@import uk.gov.hmrc.agentoverseasapplicationfrontend.controllers.routes



@(agentDetails: ApplicationEntityDetails)(implicit messages: Messages, request: Request[_], configuration: Configuration)

@main_template(Messages("statusRejected.title")){

    <h1 class="heading-xlarge">@Messages("statusRejected.title")</h1>

    <p class="flush--top">@Messages("statusRejected.para1", agentDetails.tradingName)</p>
    <p>@Html(Messages("statusRejected.para2", Html(s"<strong class=bold-small>${agentDetails.businessEmail}</strong>")))</p>

    <h2 class="heading-large">@Messages("statusRejected.heading")</h2>

    <p>@Messages("statusRejected.para3")</p>

    <p>@Html(Messages("statusRejected.link",
        Html(s"<a href=${routes.ApplicationController.showAntiMoneyLaunderingForm().url}>")))
    @Messages("statusRejected.link.text")@Html("</a>")
    </p>
}