@import play.api.Configuration
@import play.mvc.Call
@import uk.gov.hmrc.agentoverseasapplicationfrontend.controllers.routes
@import uk.gov.hmrc.agentoverseasapplicationfrontend.models._
@import uk.gov.hmrc.agentoverseasapplicationfrontend.forms._
@import uk.gov.hmrc.play.views.html.helpers.{form, input_radio_group, errorSummary}

@(registeredForUkTaxForm: Form[RadioConfirm], backLinkRoute: String)(implicit messages: Messages, request: Request[_], configuration: Configuration)

@uk.gov.hmrc.agentoverseasapplicationfrontend.views.html.main_template(title = error_prefix(registeredForUkTaxForm) + Messages("ukTaxRegistration.title")) {

    <a href="@backLinkRoute" class="link-back">@Messages("button.back")</a>

    @if(registeredForUkTaxForm.hasErrors) {
        @errorSummary(Messages("error.summary.heading"),registeredForUkTaxForm, Seq.empty, Some("registered-uk-tax-form"))
    }

    @form(action = routes.ApplicationController.submitUkTaxRegistration, 'class -> "form js-form") {

      <fieldset>

          <legend>

              <h1 class="heading-xlarge margin-bottom-20">
                  <span class="pre-heading">@Messages("ukTaxRegistration.caption")</span>
                  @Messages("ukTaxRegistration.title")
              </h1>

          </legend>

          <p>@Messages("ukTaxRegistration.form.title")</p>

        <div class="form-group">
            @input_radio_group(
                registeredForUkTaxForm("registeredForUkTax"),
                Seq(
                    "true" -> Messages("ukTaxRegistration.form.registered.yes"),
                    "false" -> Messages("ukTaxRegistration.form.registered.no")
                ),
                '_groupDivClass -> "soft--ends",
                '_fieldsetAttributes -> Html("""id='registeredForUkTax'""")
            )

        </div>
        <button class="button margin-bottom-30" type="submit" id="continue">@Messages("button.continue")</button>

      </fieldset>
    }
}